<% method = local_assigns.fetch(:method, :get) %>
<%= button_to link, class: "action-button", method: method do %>
  <span class="button-name"><%= caption %></span>
  <%= evil_icon icon, size: :s, class: "arrow-symbol" %>
<% end %>
