@import "member/nav";
@import "member/timeline";
@import "member/poster";

.body-member {
  @apply bg-gray-100 font-sans;
}

.body-member .container {
  @apply mx-auto m-auto  w-full md:w-192;
}

.icon--ei-location {
  width: 20px;
  height: 20px;
}

.icon--ei-comment {
  width: 20px;
  height: 20px;
}
