.body-member .container nav.topnav {
  @apply flex flex-wrap items-center justify-between;
  @apply pl-6 pr-6 pt-1 pb-1;
  @apply bg-yellow-400;
}

.body-member .container nav.topnav .name {
  @apply font-bold text-4xl;
  @apply mr-6;
}

.body-member .container nav.topnav .icon-list {
  @apply block flex-grow flex items-center w-auto;
}

.body-member .container nav.topnav .icon-list .feeds {
  @apply text-sm flex-grow;
}

.body-member .container a.linked-icon.active .icon {
  @apply border-dark-700 !important;
  border-bottom: 2px solid;
}

.body-member .container button.linked-icon {
  background: inherit;
  cursor: pointer;
}
