.body-member .container .poster {
  @apply flex;
  @apply w-150;
  @apply mx-auto;
}

.body-member .container .poster form {
  @apply w-full;
}

.body-member .container .poster form textarea {
  @apply mt-10;
  @apply rounded;
  @apply h-10;
  @apply w-full;
  @apply resize-none;
  @apply outline-none;
}

.body-member .container .poster form textarea::placeholder {
  @apply pl-10 pt-2;
}

.body-member .container .poster .submit-btn {
  @apply rounded-full p-2 w-full float-right;
  @apply bg-yellow-400 shadow;
  @apply cursor-pointer;
}

@screen sm {
  .body-member .container .poster .submit-btn {
    @apply w-16;
  }
}

.body-member .container .poster .controls {
  @apply mt-2;
  @apply flex flex-wrap justify-between;
}

/* Check later, havenot read clearly yet */

.body-member .poster .controls .options {
  @apply block flex-grow flex items-center w-auto;
}

.body-member .poster .controls .options .option {
  @apply text-sm;
}

.body-member .poster .controls .options .icon {
  @apply rounded-full align-middle;
  height: 31px;
  width: 31px;
  color: #a0aec0;
}

.body-member .poster .controls .options .icon:hover {
  @apply bg-teal-100 text-dark-800;
  @apply cursor-pointer;
  transition: all 0.25s ease;
}

.body-member .poster .controls .options .icon:focus-within {
  @apply bg-teal-100 text-dark-800;
}

.body-member .poster .controls input[type="file"] {
  @apply invisible block;
  @apply w-0 h-0;
}

.body-member .poster .pictures {
  @apply mt-2;
}

.body-member .poster .pictures .picture-cont {
  @apply inline-block mr-2;
}

.body-member .poster .pictures .picture-cont.template {
  @apply hidden;
}

.body-member .poster .pictures .picture-cont img {
  @apply object-cover;
  height: 80px;
  width: 80px;
}
