<% if notice && notice.present? %>
  go here ?
  <div class="bg-blue-500 alert" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert && alert.present? %>
  or go here ?
  <div class="bg-blue-500 alert" role="alert">
    <%= alert %>
  </div>
<% end %>
