<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body>
    <%= render "layouts/alert" %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
