<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="body-member">
    <main class="container">
      <%= render "layouts/member/navbar" %>
      <%= render "layouts/alert" %>
      <%= yield %>
    </main>
  </body>
</html>
